.app,
.loader,
.error {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f6f6fc;
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    color: #625fe2;
}

.soundcloud-logo {
    display: inline-block;
    width: 6.5rem;
    height: 1rem;
    margin-bottom: -.125rem;
    background: url('../images/soundcloud-logo.png') center;
    background-size: contain;
}

.loader,
.error {
    z-index: 2;
    will-change: opacity;
}

.error {
    animation: 1s fadein forwards;
    will-change: opacity;
}

.loading,
.error-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.error-display img {
    width: 400px;
    max-width: 100%;
}

.loading img {
    max-width: 100%;
}

.loading {
    animation: 2s fade-alternate .3s infinite alternate;
    will-change: opacity;
}

.loading::after,
.error-display::after {
    position: absolute;
    top: 100%;
    left: 0;
    height: .7rem;
}

.loading::after {
  content: '';
  margin-top: .5rem;
  background: #8e8ce9;
  animation: 1s loading-bar .3s ease-in-out infinite;
  will-change: left;
}

.error-display::after {
    content: 'Oops something went wrong';
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: #8e8ce9;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}


@media screen and (max-height: 400px) {
    footer {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .app::before {
        content: '';
        position: absolute;
        top: 3rem;
        right: -1.5rem;
        width: 84%;
        height: 29rem;
        background: url('../images/aaa.svg') top right no-repeat;
        background-size: contain;
    }

    .app::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 27%;
        height: 82px;
        max-width: 403px;
        background: url('../images/logo.svg') center no-repeat;
        transform: translate(-30%, -50%) rotate(-90deg);
        transform-origin: center;
        background-size: contain;
    }
}

@keyframes loading-bar {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

@keyframes fade-alternate {
  from {
    opacity: 1
  }
  to {
    opacity: .8
  }
}

@keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
