.player-column .track-timer {
  position: absolute;
  bottom: 22%;
  right: 25%;
  transform: translateX(50%);
}

.timer-container {
  width: 9.125rem;
  height: 9.125rem;
}

.timer-wholetime,
.timer-elapsedtime {
  cx: 72;
  cy: 72;
}
.timer-wholetime {
  stroke: #fafafa;
  stroke-width: 2;
}

.timer-elapsedtime {
  stroke: #d8d7f7;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 453;
  stroke-dashoffset: 453;
  animation: dash 5s linear alternate infinite;
  transform: rotate(-90deg);
  transform-origin: center;
}

.timer-text {
  fill:  #d8d7f7;
  letter-spacing: .444;
  text-align: center;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 769px) {
  .player-column .track-timer {
    bottom: 40%;
    right: 50%;
    transform: translate(50%, 50%);
    opacity: .8;
  }
  .timer-wholetime {
    stroke-width: 0;
  }
  .timer-elapsedtime {
    stroke: #625fe2;
  }
  .timer-text {
    fill:  #625fe2;
    letter-spacing: .444;
  }
}

@media screen and (max-height: 600px) {
    .player-column .track-timer {
      display: none;
    }
}
