.app {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f6f6fc;
    overflow: hidden;
}

.app::before,
.app::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.app::before {
    top: 3rem;
    right: -1.5rem;
    width: 84%;
    height: 29rem;
    background: url('./aaa.svg') top right no-repeat;
}

.app::after {
    top: 50%;
    left: 4rem;
    width: 403px;
    height: 82px;
    background: url('./logo.svg') center no-repeat;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: left;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    color: #625fe2;
}
