.app {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f6f6fc;
    overflow: hidden;
}

.app::before,
.app::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.app::before {
    top: 3rem;
    right: -1.5rem;
    width: 84%;
    height: 29rem;
    background-image: url('./aaa.svg');
    background-position: top right;
}

.app::after {
    top: 50%;
    left: 2rem;
    width: 8%;
    height: 33%;
    min-width: 4rem;
    background-image: url('./logo.svg');
    background-position: center;
    transform: translateY(-50%);
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    color: #625fe2;
}
