html,
body,
#root {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: .025rem;
    background: #f6f6fc;
}

a {
    color: #5b595b;
    text-decoration: none;
    border-bottom: 2px solid #fafafa;
    transition: border-bottom .3s ease-in;
}

a:visited {
    color: #5b595b;
}

a:hover {
    border-bottom: 2px solid #eee;
}
