.player {
    position: relative;
    top: 18%;
    width: 100%;
    height: 82%;
    max-width: 48.75rem;
    max-height: 31.25rem;
    margin: 0 auto;
}

.player-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 95%;
    box-shadow: 0 4px 14px 0 rgba(98,94,226,0.10), 0 0 70px 20px rgba(98,94,226,0.10);
}

.player-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f6f6fc;
    border-radius: .125rem;
}

.player-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.player-column {
    flex: 1 0 50%;
}

.player-column-light {
    background: #fff;
    border-radius: 0 .125rem .125rem 0;
    width: 100%;
    padding: 1rem;
}

.player-column>* {
    position: relative;
}

.track-pic {
    width: 100%;
    height: 80%;
}

.track-pic img {
    width: 85%;
    margin: 7.5%;
}

.track-title {
    margin-top: 1rem;
    font-size: 2rem;
    color: #5b595b;
}

.track-artist {
    margin-top: .75rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #625fe2;
}

.track-label {
    margin-top: .75rem;
    font-size: 1.5rem;
    color: #bdbdbd;
}
