.player {
    position: relative;
    top: 21%;
    width: 100%;
    height: 82%;
    max-width: 48.75rem;
    max-height: 31.25rem;
    margin: 0 auto;
    opacity: 0;
    will-change: top, opacity;
}

.player-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 95%;
    box-shadow: 0 4px 14px 0 rgba(98,94,226,0.10), 0 0 70px 20px rgba(98,94,226,0.10);
}

.player-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f6f6fc;
    border-radius: .125rem;
}

.player-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.player-column {
    flex: 1 0 50%;
}

.player-column-light {
    background: #fff;
    border-radius: 0 .125rem .125rem 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.player-column > * {
    position: relative;
}

.track-pic {
    width: 100%;
    height: 80%;
}

.track-pic img {
    width: 85%;
    margin: 7.5%;
}

.track-buttons {
    display: flex;
    justify-content: center;
    user-select: none;
}

.track-play-button {
    margin-right: 4rem;
    cursor: pointer;
}

.track-pause-button {
    cursor: pointer;
}

.track-title {
    margin-top: 1rem;
    font-size: 2rem;
    color: #5b595b;
}

.track-artist {
    margin-top: .75rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #625fe2;
}

.track-label {
    margin-top: .75rem;
    font-size: 1.5rem;
    color: #bdbdbd;
}

.track-skip {
    position: absolute;
    right: 1.25rem;
    bottom: 3rem;
    width: 8.8rem;
    height: 3.125rem;
    background: #fff;
    color: #bdbdbd;
    line-height: 3.125rem;
    text-align: center;
    border-radius: 2px;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: color .1s ease-in;
    will-change: right;
    user-select: none;
}

.track-skip::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 50%;
    box-shadow: 0 4px 14px 0 rgba(98,94,226,.1), 0 0 50px 5px rgba(98,94,226,.2);
    transform: translate3d(0,0,-1px);
}

@media screen and (max-width: 769px) {
    .player {
        top: 0;
        height: 100%;
        max-height: 100%;
    }
    .player-content {
        display: block;
    }
    .player-column {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .player-column-light {
        padding: 7.5% 10%;
        width: 100%;
        background: rgba(255,255,255,.8);
    }
    .track-buttons {
        z-index: 1;
    }
    .track-skip {
        right: 10%;
        bottom: 15%;
        z-index: 2;
        margin-bottom: 6px;
    }
    .track-buttons {
        position: absolute;
        left: 50%;
        bottom: 15%;
        transform: translateX(-50%);
    }
    .track-buttons > * {
        opacity: .8;
    }
}

@media screen and (max-width: 600px) {
    .track-skip {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .track-skip:hover {
        animation: wiggle .2s cubic-bezier(.58,1.6,.57,.87);
    }
    .track-buttons > * {
        opacity: .2;
        transition: opacity .3s ease-in-out;
    }
    .track-buttons > *:hover {
        opacity: 1;
    }
}

@keyframes wiggle {
    0% {
        right: 1.25rem;
    }
    33% {
        right: 1.4rem;
    }
    66% {
        right: 1.1rem;
    }
    100% {
        right: 1.25rem;
    }
}
